<?xml version="1.0" encoding="utf-8" ?>

<nlog
	xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
	autoReload="true"
	throwExceptions="true"
	internalLogLevel="Fatal" internalLogFile="logs/_init.txt"
>

	<!-- Base folder -->
	<variable name="logFolder" value="logs"/>

	<!-- Data lines -->
	<variable name="lnProcId" value="> Process Id: ${processid}${newline}" />
	<variable name="lnProcName" value="> Process Name: ${processname:fullName=true}${newline}" />
	<variable name="lnTrdId" value="> Thread Id: ${threadid}${newline}" />
	<variable name="lnTrdName" value="> Thread Name: ${threadname}${newline}" />
	<variable name="lnCaller" value="> Caller: ${callsite}${newline}" />

	<!-- Combined information -->
	<variable name="contextProperties" value="${lnProcId}${lnProcName}${lnTrdId}${lnTrdName}${lnCaller}"/>

	<targets>

		<target name="file" xsi:type="AsyncWrapper">
			<target name="fileAsync" xsi:type="File" fileName="${logFolder}/${date:format=yyyy-MM-dd_HH.mm.ss.fff}.txt">
				<layout xsi:type="CompoundLayout">
					<layout xsi:type="SimpleLayout" text="--- ${uppercase:${level}} | ${longdate} ---------------------------------------${newline}${newline}" />
					<layout xsi:type="SimpleLayout" text="${contextProperties}" />
					<layout xsi:type="SimpleLayout" text="${newline}" />
					<layout xsi:type="SimpleLayout" text=">>> ${message}${newline}${newline}${exception:format=ToString}${newline}" />
					<layout xsi:type="SimpleLayout" text="${newline}" />
				</layout>
			</target>
		</target>

	</targets>

	<rules>
		<logger name="*" minlevel="Debug" writeTo="file" />
	</rules>

</nlog>
